<div class="title">
  <% if @deliveries.length == 0 %>
    <h4>No results for "<%= params[:query] %>"</h4>
  <% else %>
    <h4>Search results for "<%= params[:query] %>"</h4>
  <% end %>
</div>
<div class="card-container-body">
  <% @deliveries.each_with_index do |delivery, index| %>

  <!-- Delivery card -->
  <div class="delivery-card-outline">
    <% if index == (@deliveries.count - 1) %>
      <div class="delivery-card">
    <% else %>
      <div class="delivery-card lav-border">
    <% end %>
     <div class="header">
      <button data-toggle="modal" data-target="#exampleModalLong<%=delivery.id%>">
        <div class="sub-header">
          <div class="photo-and-text">
            <div class="courier-image" style="background-image: url(<%= image_path delivery.courier_slug%>)">
            </div>
            <div class="details">
              <% if delivery.name == "" %>
                <h6><%= delivery.tracking_number %></h6>
              <% else %>
                <h6><%= delivery.name %></h6>
                <p><%= delivery.tracking_number %></p>
              <% end %>
            </div>
          </div>
          <% if (delivery.arrival == "today") || (delivery.arrival == "tomorrow")  %>
            <div class="arrival">
              <p><%= delivery.arrival %></p>
            </div>
          <% end %>
        </div>
      </button>
      <div class="delete">
        <%= link_to '<i class="fas fa-times"></i>'.html_safe, user_delivery_path(delivery), method: :delete %>
      </div>
    </div>
      <div class="tags">
        <% delivery.tags.each do |tag| %>
          <div class="tag" id="tag-<%= tag.id %>">
            <p><%= tag.name %></p>
            <a href='/tags/<%=tag.id%>' data-remote="true" data-method="delete"><i class="fas fa-times"></i></a>
          </div>
        <% end %>
        <div class="add-tag">
          <%= simple_form_for [delivery, @tag], remote: true do |f| %>
            <%= f.input :name, label: false, placeholder: "add tag", input_html: { class: "width-dynamic proba dva" } %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

     <!-- MODAL -->

    <div class="modal fade bd-example-modal-lg" id="exampleModalLong<%=delivery.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <div class="details">

              <% if delivery.name == "" %>
                <h6><%= delivery.tracking_number %></h6>
                <% if delivery.arrival == "today" || delivery.arrival == "tomorrow" %>
                  <h6>Arriving <%= delivery.arrival %></h6>
                <% elsif delivery.arrival == "on its way" %>
                  <h6><%= delivery.arrival.capitalize %></h6>
                <% else %>
                  <% if delivery.expected_arrival_date.strftime("%d %B")[0] == "0" %>
                    <h6>Expected on <%= delivery.expected_arrival_date.strftime("%d %B")[1..-1] %></h6>
                  <% else %>
                    <h6>Expected on <%= delivery.expected_arrival_date.strftime("%d %B") %></h6>
                  <% end %>
                <% end %>

              <% else %>
                <h6><%= delivery.name %></h6>
                <p><%= delivery.tracking_number %></p>
                <% if delivery.arrival == "today" || delivery.arrival == "tomorrow" %>
                  <h6>Arriving <%= delivery.arrival %></h6>
                <% elsif delivery.arrival == "on its way" %>
                  <h6><%= delivery.arrival.capitalize %></h6>
                <% else %>
                  <% if delivery.expected_arrival_date.strftime("%d %B")[0] == "0" %>
                    <h6>Expected on <%= delivery.expected_arrival_date.strftime("%d %B")[1..-1] %></h6>
                  <% else %>
                    <h6>Expected on <%= delivery.expected_arrival_date.strftime("%d %B") %></h6>
                  <% end %>
                <% end %>
              <% end %>

            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% full_history = delivery.history.status_updates.reverse %>
            <% full_history.each do |history| %>
              <ul class="list-group sc-14162w-0 iSZrzX">
                <li class="sc-14162w-1 jziiTq">
                  <div class="sc-14162w-2 hPkgKa">
                    <p class="ap9okf-3 sc-14162w-6 jjQyAI"><%= history[2].to_date.strftime("%a, %b %d") %></p>
                    <% dt = history[2] %>
                    <% time = Time.parse(dt.split('T')[1].split('+')[0]) %>
                    <p class="ap9okf-3 icbrCe"> <%= time.strftime("%H:%M %P") %> </p>
                  </div>
                  <div class="sc-14162w-3 eGjnzy">
                    <div class="sc-14162w-5 gNBeSh">
                    </div>
                  </div>
                  <div class="sc-14162w-4 jSlcHv">
                    <p class="ap9okf-3 sc-14162w-6 hNnpWt">
                      <span class="ap9okf-6 fRqzDH"><%= history[0] %></span>
                    </p>
                    <p class="ap9okf-3 gEEinB"><%= history[1] %></p>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
