<div class="title">
  <% if @deliveries.length == 0 %>
    <h4>No results for <%= params[:query] %></h4>
    <% else %>
  <h4>Search results for <%= params[:query] %></h4>
  <% end %>
</div>
<div class="card-container-body">
  <% @deliveries.each_with_index do |delivery, index| %>

  <!-- Delivery card -->
    <% if index == (@deliveries.count - 1) %>
      <div class="delivery-card">
    <% else %>
      <div class="delivery-card lav-border">
    <% end %>
    <button data-toggle="modal" data-target="#exampleModalLong<%=delivery.id%>">
      <div class="header">
        <div class="courier-image" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url(<%= image_path delivery.courier_slug%>)">
        </div>
        <div class="details">
          <% if delivery.name.nil? %>
            <h6><%= delivery.tracking_number %></h6>
          <% else %>
            <h6><%= delivery.name %></h6>
            <p><%= delivery.tracking_number %></p>
          <% end %>
        </div>
      </div>
    </button>
      <div class="tags">
        <% delivery.tags.each do |tag| %>
          <div class="tag">
            <p><%= tag.name %></p>
            <a href='/tags/<%=tag.id%>', data-method="delete"><i class="far fa-times-circle"></i></a>
          </div>
        <% end %>
          <%= simple_form_for([delivery, @tag]) do |f| %>
            <%= f.input :name, label: false, placeholder: "add tag" %>
          <% end %>
      </div>
    </div>

     <!-- MODAL -->

    <div class="modal fade" id="exampleModalLong<%=delivery.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% delivery.history.status_updates.each do |history| %>
              <ul class="list-group sc-14162w-0 iSZrzX">
                <li class="sc-14162w-1 jziiTq">
                  <div class="sc-14162w-2 hPkgKa">
                    <p class="ap9okf-3 sc-14162w-6 jjQyAI"><%= history[2].to_date.strftime("%a, %b %d") %></p>
                    <% dt = history[2] %>
                    <% time = Time.parse(dt.split('T')[1].split('+')[0]) %>
                    <p class="ap9okf-3 icbrCe"> <%= time.strftime("%H:%M %P") %> </p>
                  </div>
                  <div class="sc-14162w-3 eGjnzy">
                    <div class="sc-14162w-5 gNBeSh">
                    </div>
                  </div>
                  <div class="sc-14162w-4 jSlcHv">
                    <p class="ap9okf-3 sc-14162w-6 hNnpWt">
                      <span class="ap9okf-6 fRqzDH"><%= history[0] %></span>
                      <span class="ap9okf-6 sc-14162w-7 gaeTg"> <%= delivery.courier %> </span>
                    </p>
                    <p class="ap9okf-3 gEEinB"><%= history[1] %></p>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
