<h1>hello <%= @user.email %></h1>

<ul>
  <% @user.deliveries.each do |delivery| %>
    <% delivery.update_delivery %>
    <li>Name: <%= delivery.name %> - Courier: <%= delivery.courier %> - Tracking number: <%= delivery.tracking_number %>
      Staus: <%= delivery.status %> Estimated delivery: <%= delivery.expected_arrival_date %>
      <% if delivery.histories != [] %>
      <ul>
        <% delivery.histories.each do |history| %>
          <li><%= history["message"] %> [<%= history["location"]%>] at <%= history["checkpoint_time"] %></li>
       <% end %>
      </ul>
      <% end %>
      <ul>
        <% delivery.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>

      <%= simple_form_for([delivery, @tag]) do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Add new delivery</h2>
<%= simple_form_for(@delivery) do |f| %>
  <%= f.input :name %>
  <%= f.input :tracking_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


