<%= render 'shared/navbar' %>

<!-- Modal for add delivery -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Add Delivery</h4>
        <%= simple_form_for(@delivery) do |f| %>
          <%= f.input :name %>
          <%= f.input :tracking_number %>
          <%= f.input :courier, collection: Delivery::COURIERS %>
          <%= f.button :submit, class: "btn-full-width", id: "delivery-add-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="deliveries" role="tabpanel" aria-labelledby="deliveries-tab">
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <%= form_tag user_path, remote: true, method: :get, id: "search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-new",
          placeholder: "Find your parcel..."
        %>
        <%#= submit_tag "Search", class: "btn btn-light" %>
      <% end %>
    <div class="show-buttons d-flex">
      <div class="showtag otw-show showtag-fade">
        <p>On their way</p><button disabled="true" class="otw-show hide-btn"><i class="fas fa-eye "></i></button>
      </div>
      <div class="showtag delayed-show showtag-fade">
        <p>Delayed</p><button disabled="true" class="delayed-show hide-btn" hide-btn"><i class="fas fa-eye "></i></button>
      </div>
      <div class="showtag delivered-show showtag-fade">
        <p>Delivered</p><button disabled="true" class=".delivered-show hide-btn"><i class="fas fa-eye "></i></button>
      </div>
    </div>

    </div>
    <div id="search-results" class="delivery-card-container">
      <div class="delivery-cards otw-column">
        <%= render "users/on_their_way" %>
      </div>
      <div class="delivery-cards delayed-column">
        <%= render "users/delayed" %>
      </div>
      <div class="delivery-cards delivered-column">
        <%= render "users/delivered" %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
    <%= render "users/statistics" %>
  </div>
  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <%= render "users/settings" %>
  </div>
</div>



