<%= render 'shared/navbar' %>
<div>
<button type="button" class="btn-full-wdith" data-toggle="modal" data-target="#exampleModal" id="modal">
  Add delivery
</button>

<!-- Modal for add delivery -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<%= simple_form_for(@delivery) do |f| %>
  <%= f.input :name %>
  <%= f.input :tracking_number %>
  <%= f.input :courier, collection: Delivery::COURIERS %>
  <%= f.button :submit, class: "btn-full-wdith" %>
<% end %>
      </div>
    </div>
  </div>
</div>

  <div class="delivery-card-container">
    <% if params[:query] && params[:query] != "" %>
      <div class="delivery-cards results">
        <%= render "users/results" %>
      </div>
      <div class="delivery-cards delivered">
        <%= render "users/in-transit" %>
      </div>
      <div class="delivery-cards delayed">
        <%= render "users/delayed" %>
      </div>
      <div class="delivery-cards delivered">
        <%= render "users/delivered" %>
      </div>

    <% else %>
      <div class="delivery-cards in-transit">
        <%= render "users/in-transit" %>
      </div>
      <div class="delivery-cards delayed">
        <%= render "users/delayed" %>
      </div>
      <div class="delivery-cards delivered">
        <%= render "users/delivered" %>
      </div>
    <% end %>
  </div>
</div>

