<h1>hello</h1>

<%= @user.email %>

<ul>
  <% @user.deliveries.each do |delivery| %>
    <li>Name: <%= delivery.name %>  Courier: <%= delivery.courier %></li>
    <ul>
      <% delivery.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
 <% end %>
</ul>

<%= simple_form_for(@delivery) do |f| %>
  <%= f.input :name %>
  <%= f.input :courier %>
  <%= f.input :tracking_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
