<%= render 'shared/navbar' %>
<h1>hello <%= current_user.display_name %></h1>
<ul>
<% if @deliveries.count == 0 %>
    <h3>Oops! There are no results for your search!</h3>
<% else %>
<div class="deliver-card-container">
  <% @deliveries.each do |delivery| %>
  <% delivery.update_delivery %>
  <div class="delivery-card">

    <div class="delivery-card-image"><%= image_tag "logo", alt: "alttext" %></div>


    <div class="delivery-details">
    <p>Name: <%= delivery.name %> - Courier: <%= delivery.courier %> - Tracking number: <%= delivery.tracking_number %>
      Staus: <%= delivery.status %> Estimated delivery: <%= delivery.expected_arrival_date %>
    </p>
      <% if !delivery.history.nil? %>
      <ul>
        <% delivery.history.status_updates.each do |history| %>
          <li><%= history[0] %> [<%= history[1]%>] at <%= history[2] %></li>
       <% end %>
      </ul>
      <% end %>

      <div class="tags">
        <% delivery.tags.each do |tag| %>
          <div><span class="tag"><%= tag.name %></span></div>
        <% end %>
        <% @tag = Tag.new %>
          <%= simple_form_for([delivery, @tag]) do |f| %>
          <%= f.input :name, label: false %>
        <% end %>
      </div>

  <% end %>

</div>
  <% end %>
  </div>
</div>

<h2>Add new delivery</h2>
<% @delivery = Delivery.new %>
<%= simple_form_for(@delivery) do |f| %>
  <%= f.input :name %>
  <%= f.input :tracking_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


