<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <a href="/"><%= image_tag "favicon", alt: "alttext" %></a>

  <div class="search-bar">
    <i class="fas fa-search"></i>
    <%= form_tag user_path, remote: true, method: :get, id: "search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-new",
        placeholder: "Find your parcel..."
      %>
      <%#= submit_tag "Search", class: "btn btn-light" %>
    <% end %>
  </div>
       <ul class="nav" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#deliveries" role="tab" aria-controls="home" aria-selected="true">Deliveries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="profile" aria-selected="false">Statistics</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="profile" aria-selected="false">Settings</a>
          </li>
        </ul>






  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if Time.now.hour <= 12 %>
      <% greeting = 'Good morning, ' %>
    <% elsif Time.now.hour <= 18 %>
      <% greeting = 'Good afternoon, ' %>
    <% else greeting = 'Good evening,' %>
    <% end %>
    <p> <%= greeting %><%= current_user.display_name.capitalize %>!</p>
      <%= image_tag "https://media.istockphoto.com/vectors/triple-dots-three-dots-icon-vector-id957096060?k=6&m=957096060&s=170667a&w=0&h=VCnTUw1kqrkV4iZqvhXpo5bfBePdA6D7HVMrvLPBxcM=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <button class= "dropdown-item">On their way <i class="fas fa-eye"></i></button>
          <button class= "dropdown-item">Delayed <i class="fas fa-eye"></i></button>
          <button class= "dropdown-item">Delivered <i class="fas fa-eye"></i></button>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </ul>
  </div>
</div>
