<%= render 'shared/navbar' %>

<div class="delivery-card-container team-container">
  <div class="delivery-cards about-cards">
    <div class="title">
      <h4>Team tracked</h4>
    </div>
    <div class="card-container-body">

      <!-- Team card -->
      <div class="delivery-card-outline">
        <div class="delivery-card lav-border">
          <div class="header">
            <button data-toggle="modal" data-target="#exampleModalLong">
              <div class="sub-header">
                <div class="team-image" style="background-image: url(<%= image_path 'taff'%>)">
                </div>
                <div class="team-details">
                  <h6 class="name">Taffanie Ben</h6>
                  <h6><i class="fab fa-linkedin" id="linkedin"></i>linkedin.com/in/taffanieben</h6>
                  <h6><i class="fab fa-github" id="github"></i>github.com/taffanie</h6>
                </div>
              </div>

            </button>
          </div>
          <div class="tags">
            <div class="tag" id="tag-<%= tag.id %>">
              <p>LeWagon</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
            <div class="tag" id="tag-<%= tag.id %>">
              <p>#361</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="delivery-card-outline">
        <div class="delivery-card lav-border">
          <div class="header">
            <button data-toggle="modal" data-target="#exampleModalLong">
              <div class="sub-header">
                <div class="team-image" style="background-image: url(<%= image_path 'jonny'%>)">
                </div>
                <div class="team-details">
                  <h6 class="name">John Marsden</h6>
                  <h6><i class="fab fa-linkedin" id="linkedin"></i>linkedin.com/in/johnmarsden24</h6>
                  <h6><i class="fab fa-github" id="github"></i>github.com/JohnMarsden24</h6>
                </div>
              </div>

            </button>
          </div>
          <div class="tags">
            <div class="tag" id="tag-<%= tag.id %>">
              <p>LeWagon</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
            <div class="tag" id="tag-<%= tag.id %>">
              <p>#361</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="delivery-card-outline">
        <div class="delivery-card lav-border">
          <div class="header">
            <button data-toggle="modal" data-target="#exampleModalLong">
              <div class="sub-header">
                <div class="team-image" style="background-image: url(<%= image_path 'jan'%>)">
                </div>
                <div class="team-details">
                  <h6 class="name">Jan Mölich</h6>
                  <h6><i class="fab fa-linkedin" id="linkedin"></i>linkedin.com/in/jan-mölich</h6>
                  <h6><i class="fab fa-github" id="github"></i>github.com/janm97</h6>
                </div>
              </div>

            </button>
          </div>
          <div class="tags">
            <div class="tag" id="tag-<%= tag.id %>">
              <p>LeWagon</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
            <div class="tag" id="tag-<%= tag.id %>">
              <p>#361</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="delivery-card-outline">
        <div class="delivery-card">
          <div class="header">
            <button data-toggle="modal" data-target="#exampleModalLong">
              <div class="sub-header">
                <div class="team-image" style="background-image: url(<%= image_path 'ben'%>)">
                </div>
                <div class="team-details">
                  <h6 class="name">Ben Sargeant</h6>
                  <h6><i class="fab fa-linkedin" id="linkedin"></i>linkedin.com/in/ben-sargeant-951b2b91</h6>
                  <h6><i class="fab fa-github" id="github"></i>github.com/Sargeant91</h6>
                </div>
              </div>

            </button>
          </div>
          <div class="tags">
            <div class="tag" id="tag-<%= tag.id %>">
              <p>LeWagon</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
            <div class="tag" id="tag-<%= tag.id %>">
              <p>#361</p>
              <a href='#'><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
