<div class="banner">
  <div class="banner-left">
    <div class="text">
      <div class="text-header">
        <h1>tracked</h1>
        <h4>all your deliveries, one place</h4>
      </div>
      <div class="text-footer">
        <p>to start simply put in a tracking number</p>
      </div>
    </div>
  </div>
  <div class="banner-right">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-full-wdith" %>
      </div>
    <% end %>
  </div>
</div>

<div class="info-card-body">
  <div class="info-card">
    <div class="photo">
      <%= image_tag "search", alt: "alttext" %>
    </div>
    <div class="text">
      <h5>Add your tracking number</h5>
    </div>
  </div>
  <div class="info-card">
    <div class="photo">
      <%= image_tag "truck", alt: "alttext" %>
    </div>
    <div class="text">
      <h5>Track your delivery</h5>
    </div>
  </div>
  <div class="info-card">
    <div class="photo">
      <%= image_tag "sell", alt: "alttext" %>
    </div>
    <div class="text">
      <p></p>
    </div>
  </div>

</div>
